<!DOCTYPE html>
<html lang="cn">
  <head>
    <title>My Vue</title>
  </head>
  <body>
    <div id="app">
      <h1>template表达式</h1>
      <h3>{{ msg }}</h3>
      <h3>{{ count }}</h3>
      <hr />
      <h1>v-text</h1>
      <div v-text="msg"></div>

      <hr />
      <h1>v-model</h1>
      <div v-html="myHtml"></div>
      <hr />
      <h1>v-model</h1>
      <input type="text" v-model="msg" />
      <input type="text" v-model="count" />
      <button v-on:click="handler">按钮</button>
    </div>
  </body>
  <script src="./index.js" type="module"></script>
</html>
